#ignored the user_request.py file, used for testing the endpoints from a client's perspective.
user_request.py

# Environment variables
.env

#Ignore all the databases files. (These are the files which ends with .db)
*.db

testing_fk.py

#ignored the file for the workspace.
BOOKHUB_API_WORKSPACE.code-workspace

#ignore all the __pycache__ files.
*.pyc
.python-version


notebook.ipynb
endpoints.md
USERS/tests.ipynb
BOOKS/test_add_books.py
